body {
    color: #666666;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.80857;
    font-weight: normal;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
}
a {
    color: #07dcf8;
    text-decoration: none !important;
    outline: none !important;
}
h1, h2, h3{
        letter-spacing: 0;
        font-weight: normal;
        position: relative;
        padding: 0 0 10px 0;
        font-weight: normal;
        line-height: normal;
        color: #d8bebe;
        margin: 0 
   }
   ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p {
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}
button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.container{
    width: 1366px;
    height: 200px;
    display: flex;
}
.menu{
    font-size: 20px;
    float: right;
}
.logo{
    border-radius: 50%;
}
header{
    display: inline;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.listado{
    font-size: 45px;
}
.box-home{
    width: 420px;
}
.elementos{
    font-size: 20px;
}
.infoeminem{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    padding: 0%;
    margin: 0%;
}
.reproductor1{

    text-align: center;
}
.caja {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
}

<<<<<<< HEAD
}
.fotoalbum{
    width: 150px;
}
=======
.texto {
    width: 300px;
    margin-left: 10px;
}
=======
    display: block;
    flex-direction: column;
    align-self: flex-start;
}
.sectiondetail{
    display: flex;
    justify-content: space-between;
}
.botonplaylist{
    align-self: flex-start;
}
>>>>>>> 35cf5d12b5fb6cea7e80cd959e4c0137326c2999
>>>>>>> fe65570ea1483faefdb19102f40b26c19444b623
