@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    background: linear-gradient(90deg, rgba(2,0,36,1) 6%, rgba(16,2,59,1) 25%, rgba(53,9,121,1) 51%, rgba(0,119,255,1) 100%);
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 50px;
}
footer p {
    background-color: black;
    padding: 10px;
}
a {
    color: #07dcf8;
    text-decoration: none !important;
    outline: none !important;
}
h1, h2, h3{
        letter-spacing: 0;
        font-weight: normal;
        position: relative;
        padding: 0 0 10px 0;
        font-weight: normal;
        line-height: normal;
        color: hsl(0, 0%, 100%);
        margin: 0 
   }
   ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p {
    margin: 0px;
    font-size: 15px;
    line-height: 24px;
}
header{
    width: 100%;
    height: auto;
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.menu{
    padding: 20px;
    font-size: 20px;
}
nav .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.liPlaylist{
    margin-right: 20px;
}
.submenu{
    display: flex;
    align-items: center;
}

#buscador{
    padding: 12px;
    border: 1px solid grey;
    width: 80%;
}
form button{
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.logo{
    border-radius: 50%;
}
.contenido{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
}
.listado{
    font-size: 45px;
    justify-content:space-around;
    margin-top: 20px;
}

.elementos{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
}
.infoeminem{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    padding: 0%;
    margin: 0%;
}
.reproductor1{
    text-align: center;
}
.sectiondetail{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

.pos{
    max-width: 85px;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 20%;
    float: left;
}
.nameplay{
    margin-left: 125px;
    margin-top: 40px;
    padding: 12px;	
    font-size: 20px;
    color: white;	
}
.botonplaylist{
    align-self: flex-start;
    color: white;
    border-radius: 12px;
}
.imgeminem{
    margin-right: 150px;
}
.caja{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px;
}
.texto {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.caja-track{
    width: -webkit-fill-available;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding: 10px;
    border-radius: 20px;
}
.text-detail{
    padding-left: 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.text-detail h3{
    font-size: 18px;
    margin-top: 7px;
}
iframe{
    margin-top: 20px;
}
.caja-album{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    width: 1300px;
}
.text-detail button{
    background-color: rgb(35, 32, 177);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
    font-size: 15px;
}
.links a{
    display: block;
    padding: 10px;
}
.links{
    background-color: black;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1000px;
}
.links a:hover{
    background-color: #353232;
}
.desplegable:hover .links{
    display: block;
}
.desplegable{
    position: absolute;
}
.bodyindex{
    display: flex;
    flex-direction: column;
}
.titulo-section{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
#no-encontrado{
    display: none;
}
#resultados{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.divartist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 30px;
}
.artistuno{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 320px;
    margin-top: 20px;
}
.titulo{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.subtitle{
    text-align: center;
    font-size: 30px;
}
.h1artist{
    color: #000000;
}
.all-gender{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.all-gender article{
    box-shadow: 5px 8px 12px black;
    border-radius: 20px;

}
.all-gender article a b{
    font-size: 40px;
    color: white;
    transform: translate(-50%, -50%);
}
.genero{
    margin: 20px;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.genero:hover{
    transform: scale(1.1);
    transition: 500ms;
}
.genero a img{
    width: 300px;
    height: 300px;
    border-radius: 20px;

}
.contenido-album .caja-album img{
    width: 250px;
    height: 250px;
}
.remove{
    background-color: rgb(35, 32, 177);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
    font-size: 15px;
    float: right;
    margin-right: 20px;
}
.artist-gen{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px;
}
.canciones-gen{
    margin: 15px;
}
.h1gender{
    text-align: center;
    margin-top: 60px;
    font-size: 45px;
}
section .playlist {
    display: flex;
    flex-wrap: wrap;
}
.imgindex {
    width: 100px;
    height: 100px;
}
.song{
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 100%;
}
.imgnosignal{
    max-width: 200px;
    max-height: 250px;
    border: black 1px solid;
    border-radius: 20%;
    float: left;
}
section ul li {
    margin-top: 10px;
    list-style: none;
    display: inline-block;
    width: 20%;
    text-align: center;
}
section .contenedorCanciones{
    display: inline-block;
    margin: 0px 5px;
    padding: 15px;
    background: rgba(255,255,255,0.2);
    border-radius: 5%;
    color: white;
    box-shadow: 0px 0px 2px black;
}
section .playlist ul li .contenedorCanciones p{
    text-align: center;
}

#detailGenre {
    text-align: center;
}

.detailGenreList li {
    color: white
}

#detailGenre h1 {
    font-size: 50px;
}

/* Responsive */
@media(max-width:450px){

    main{
        max-width: 450px;
    }

    #buscador {
        width: 100px;
        margin-left: 10px;
    }

    .menu{
        flex-direction: column;
    }

    header img{
        width: 75px;
        height: 75px;
    }

    header form button {
        padding: 0;
        width: 30px;
    }

    .navegacion ul{
        overflow-wrap: anywhere;
    }
    
    .contenido {
        overflow: auto;
    }
}

#nameDetailTrack {
    color: white
}
#gif-loading {
    width: 300px;
}
