body {
    color: #666666;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.80857;
    font-weight: normal;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
}
a {
    color: #07dcf8;
    text-decoration: none !important;
    outline: none !important;
}
h1, h2, h3{
        letter-spacing: 0;
        font-weight: normal;
        position: relative;
        padding: 0 0 10px 0;
        font-weight: normal;
        line-height: normal;
        color: #d8bebe;
        margin: 0 
   }
   ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p {
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}
button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.container{
    width: 1366px;
    height: 200px;
}
.menu{
    font-size: 20px;
}
.logo{
    border-radius: 50%;
}
header{
    display: inline;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.listado{
    font-size: 45px;
}
.box-home{
    color: #4b0d53e5;
    width: 420px;
    border: #bd1313;
}
.elementos{
    font-size: 20px;
}